*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*
data/
data1/
hqdata/
hqdata_subset_100/
hqdata_subset_1000/
hqdata_subset_5000/
hqdata_subset_10000/
data_output1/
inference/
CogVideoX-2b/
sat/CogVideoX-2b-sat/
sat/CogVideoX-5b-sat/
sat/ckpts_2b_lora/
sat/ckpts_5b_lora/
sat/t5-v1_1-xxl/
results/
wandb/